body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;      /* ← plus petit */
    padding: 15px;
    background-color: #111;
}

#title {
    margin: 0;
}

#list {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;  /* enlève le soulignement */
    color: black;
    font-size: 16px;        /* texte plus grand */
    font-weight: 500;
}

#buttona,
#buttonb {
    background-color: white;
    height: 50px;
    width: 130px;          /* même largeur */
    border-radius: 5px;

    display: flex;
    justify-content: center; /* centre horizontal */
    align-items: center;     /* centre vertical */

    font-size: 14px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

header img {
    height: 100%;   /* même hauteur que le header */
    width: auto;    /* garde les proportions */
}